{% extends 'layouts/default.html' %}
{% block body %}




  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8">

<div style="display: flex;
  justify-content: center;
  align-items: center;" >
    <h1>
    <br>
    <br>
    <br>  &nbsp;&nbsp;&nbsp;&nbsp;Welcome to your to do app.<br>
    <br>
        Tap on the top left or the bottom <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;button to access your app.
   </h1>
</div>

    </div>
    <div class="col-md-2" >
  	</div>
  </div>
<br>
<br>
        <div style="display: flex;
  justify-content: center;
  align-items: center;" >
            <a href="/"> <button type="button" class="btn btn-outline-success btn-lg">Manage your tasks</button> </a>
        </div>

{% endblock %}