{% extends 'layouts/default.html' %}
{% block body %}
<div >
    <div style="margin-top: 50px" class="ui container">

        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..." required><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment" style="background-color: #b0dadf">
            <p class="ui big header">{{todo.id }} | {{ todo.title }}</p>

            {% if todo.complete == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            {% if todo.complete == False %}
            <a class="ui green button" href="/update/{{ todo.id }}">Complete</a>
            {% else %}
            <a class="ui orange button" href="/update/{{ todo.id }}">Incomplet</a>
            {% endif %}
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}